@media (min-width: 769px) and (max-width: 1024px) {
    // BLOG 
    .blog,
    .single-post {
        .social-share  {
            .share-box {
                flex: auto;
                max-width: 13%;
                 a {
                    padding: 15px;
                 }
            }
        }

        .articles__item-row {
            .article__image {
                padding:20px;
            }
        }
        
    }

    .single-post { 
        .article--right {
            padding-right: 50px;
            padding-left: 50px;
            padding-bottom: 100px;
        }
    }
    
}
