/* ------------------------------------------------------------ *\
	Close btn
\* ------------------------------------------------------------ */

.close {
	position: absolute;
	right: 22px;
	top: 20px;
	width: 32px;
	height: 32px;
	opacity: 0.3;
	@include breakpoint-down(mobile) {
		top: -140px;
	}
  }
  .close:hover {
	opacity: 1;
  }
  .close:before, .close:after {
	position: absolute;
	left: 15px;
	content: ' ';
	height: 33px;
	width: 2px;
	background-color: #333;
  }
  .close:before {
	transform: rotate(45deg);
  }
  .close:after {
	transform: rotate(-45deg);
  }
