/* ------------------------------------------------------------ *\
	Section Community
\* ------------------------------------------------------------ */

.section-community{
	.subtitle{
		margin-bottom: 20px;
	}

	.socials {
		a {
			width: 90px;
			height: 90px;
			img {
				width: 60px;
			}
		}

	}
}
