/* ------------------------------------------------------------ *\
	Top Line
\* ------------------------------------------------------------ */

.top-line {
	background-color: $c-gray;
	display: flex;
	max-height: 50px;
	padding: 8px;
	text-align: center;
	.container{
		padding: 0 10%;
		justify-content: space-around;
		@include breakpoint-down(small-desktop) {
			padding: 0;
			justify-content: space-between;
		}
	}
	.text{
		font-size: 0.8em;
	}
	span {
		padding-left: 10px;
		color: $c-white;
	}
	.creme {
		margin-top: -8px;
	}

	@include breakpoint-down(mobile) {
		display: none;
	}
}


